<article class="{{viewClasses (concat 'actorType-' actorTypeIndex) breadcrumbs}} actor-type">
  <header class="flex flex-ac py-2 relative-section">
    <div class="section-background"></div>
    <div class="flex-col col-12">
      <input class="breadcrumb-name-change input-cpt" type="text" data-target="{{concat 'actorType-' actorTypeIndex}}" name="actorTypes.{{actorTypeIndex}}.name" value="{{actorType.name}}">
    </div>
    <div class="flex-col">
      {{> "systems/cortexprime/templates/partials/remove-button.html"
        itemKey=actorTypeIndex
        itemName=actorType.name
        setting="actorTypes"
        type="trash"
      }}
    </div>
  </header>
  <div>
    {{#if isGM}}
      <div class="pa-2 relative-section">
        <div class="section-background-alternate"></div>
        <button class="btn btn-primary-cpt sync-existing-actors" data-actor-type="{{actorTypeIndex}}" type="button">
          <i class="fa fa-rotate"></i> {{localize 'SyncExistingActors'}}
        </button>
      </div>
    {{/if}}
    <div class="flex relative-section">
      <div class="section-background"></div>
      <div class="flex-col col-3">
        <p class="section-secondary-title-cpt mb-1">{{localize 'DefaultImage'}}</p>
        <img class="default-image bkg-light-grey" src="{{or actorType.defaultImage 'icons/svg/mystery-man.svg'}}"
          data-actor-type-index="{{actorTypeIndex}}" title="{{localize 'DefaultImage'}}" />
      </div>
      <div class="flex-col col-9">
        <p class="section-secondary-title-cpt mb-1">{{localize 'GeneralActorSettings'}}</p>
        <div>
          <label class="flex flex-ac">
            <div class="checkmark-container">
              <input class="input-checkbox-cpt" name="actorTypes.{{actorTypeIndex}}.showProfileImage" type="checkbox" {{checked actorType.showProfileImage}}>
              <div class="checkmark-cpt"></div>
            </div>
            <span class="input-label-cpt mb-0 ml-2">{{localize 'ShowProfileImage'}}</span>
          </label>
        </div>
        <div>
          <label class="flex flex-ac">
            <div class="checkmark-container">
              <input class="input-checkbox-cpt" name="actorTypes.{{actorTypeIndex}}.hasNotesPage" type="checkbox" {{checked actorType.hasNotesPage}}>
              <div class="checkmark-cpt"></div>
            </div>
            <span class="input-label-cpt mb-0 ml-2">{{localize 'HasNotesPage'}}</span>
          </label>
        </div>
        <div>
          <label class="flex flex-ac">
            <div class="checkmark-container">
              <input class="input-checkbox-cpt" name="actorTypes.{{actorTypeIndex}}.hasPlotPoints" type="checkbox" {{checked actorType.hasPlotPoints}}>
              <div class="checkmark-cpt"></div>
            </div>
            <span class="input-label-cpt mb-0 ml-2">{{localize 'HasPlotPoints'}}</span>
          </label>
        </div>
        <div>
          <label class="flex flex-ac">
            <div class="checkmark-container">
              <input class="input-checkbox-cpt" name="actorTypes.{{actorTypeIndex}}.hasAssets" type="checkbox" {{checked actorType.hasAssets}}>
              <div class="checkmark-cpt"></div>
            </div>
            <span class="input-label-cpt mb-0 ml-2">{{localize 'HasAssets'}}</span>
          </label>
        </div>
        <div>
          <label class="flex flex-ac">
            <div class="checkmark-container">
              <input class="input-checkbox-cpt" name="actorTypes.{{actorTypeIndex}}.hasComplications" type="checkbox" {{checked actorType.hasComplications}}>
              <div class="checkmark-cpt"></div>
            </div>
            <span class="input-label-cpt mb-0 ml-2">{{localize 'HasComplications'}}</span>
          </label>
        </div>
        <div>
          <label class="flex flex-ac">
            <div class="checkmark-container">
              <input class="input-checkbox-cpt" name="actorTypes.{{actorTypeIndex}}.hasHidableTraits" type="checkbox" {{checked actorType.hasHidableTraits}}>
              <div class="checkmark-cpt"></div>
            </div>
            <span class="input-label-cpt mb-0 ml-2">{{localize 'HasHidableTraits'}}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="separator-cpt"></div>
    <section>
      <header class="relative-section">
        <div class="section-background-alternate"></div>
        <div class="flex flex-ac flex-jsb py-1">
          <h3 class="flex-col col-12 section-primary-title-cpt">{{localize 'ActorSheetTabs'}}</h3>
          <div class="flex-col">
            <button class="btn btn-primary-cpt btn-icon add-tab" data-actor-type="{{actorTypeIndex}}" type="button" title="{{localize 'AddTab'}}">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="separator-cpt"></div>
        <div class="relative-section pa-2">
          <div class="section-background-alternate"></div>
          <p>{{localize 'ActorSheetTabsDescription'}}</p>
        </div>
      </header>
      <ul class="list-style-none px-0 my-0">
        {{#each actorType.tabs as |tab tabIndex|}}
          <li class="pa-1 flex flex-ac flex-jsb relative-section">
            <div class="{{ternary (eq (mod tabIndex 2) 0) 'section-background' 'section-background-alternate'}}"></div>
            <div class="flex-col flex-row flex-ac col-12">
              {{> "systems/cortexprime/templates/partials/reorder.html"
                class="flex-col pa-0"
                path=(concat ../actorTypeIndex '.tabs')
                currentIndex=tabIndex
                setting="actorTypes"
              }}
              <input class="input-cpt flex-col col-12 rerender-on-change" name="actorTypes.{{../actorTypeIndex}}.tabs.{{tabIndex}}.label" type="text" value="{{tab.label}}">
              <input name="actorTypes.{{../actorTypeIndex}}.tabs.{{tabIndex}}.id" type="hidden" value="{{tab.id}}">
            </div>
            <div class="flex-col px-0">
              <button class="btn btn-icon btn-icon-plain-cpt remove-actor-tab" data-actor-type="{{../actorTypeIndex}}" data-tab="{{tabIndex}}" type="button" title="{{localize 'Remove'}}">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </li>
        {{/each}}
      </ul>
      <div class="separator-cpt"></div>
      <div class="relative-section pa-2">
        <div class="section-background-alternate"></div>
        <h3 class="section-secondary-title-cpt">{{localize 'SheetSectionLayout'}}</h3>
        <p>{{localize 'SheetSectionLayoutDescription'}}</p>
        {{#each actorType.sheetSections as |section|}}
          <div class="flex-row flex-ac mb-2{{ternary (not section.enabled) ' shutdown' ''}}">
            <div class="flex-col">
              <button class="btn btn-icon btn-icon-plain-cpt btn-small move-sheet-section d-block" type="button" data-actor-type="{{../actorTypeIndex}}" data-section-id="{{section.layoutId}}" data-direction="-1" {{{ternary (not section.enabled) 'disabled="disabled"' ''}}}><i class="fa fa-chevron-up"></i></button>
              <button class="btn btn-icon btn-icon-plain-cpt btn-small move-sheet-section d-block" type="button" data-actor-type="{{../actorTypeIndex}}" data-section-id="{{section.layoutId}}" data-direction="1" {{{ternary (not section.enabled) 'disabled="disabled"' ''}}}><i class="fa fa-chevron-down"></i></button>
            </div>
            <div class="flex-col col-3"><span class="section-secondary-title-cpt">{{section.label}}</span></div>
            <div class="flex-col col-4">
              <label class="input-label-cpt">{{localize 'ActorSheetTab'}}</label>
              <select class="input-cpt" name="actorTypes.{{../actorTypeIndex}}.sectionLayout.{{section.layoutId}}.tabId" {{{ternary (not section.enabled) 'disabled="disabled"' ''}}}>
                {{#each ../actorType.tabs as |tab|}}
                  <option value="{{tab.id}}" {{#if (eq section.tabId tab.id)}}selected{{/if}}>{{tab.label}}</option>
                {{/each}}
              </select>
            </div>
            <div class="flex-col col-4">
              <label class="input-label-cpt">{{localize 'Width'}}</label>
              <select class="input-cpt" name="actorTypes.{{../actorTypeIndex}}.sectionLayout.{{section.layoutId}}.width" {{{ternary (not section.enabled) 'disabled="disabled"' ''}}}>
                <option value="full" {{#if (eq section.width 'full')}}selected{{/if}}>{{localize 'Full'}}</option>
                <option value="half" {{#if (eq section.width 'half')}}selected{{/if}}>{{localize 'Half'}}</option>
                <option value="third" {{#if (eq section.width 'third')}}selected{{/if}}>{{localize 'Third'}}</option>
              </select>
              <input name="actorTypes.{{../actorTypeIndex}}.sectionLayout.{{section.layoutId}}.order" type="hidden" value="{{section.order}}" {{{ternary (not section.enabled) 'disabled="disabled"' ''}}}>
            </div>
            <div class="flex-col">
              <button class="btn btn-icon btn-icon-plain-cpt toggle-sheet-section" data-actor-type="{{../actorTypeIndex}}" data-enabled="{{not section.enabled}}" data-section-id="{{section.layoutId}}" title="{{localize (ternary section.enabled 'HideFromSheet' 'ShowOnSheet')}}" type="button">
                <i class="fa {{ternary section.enabled 'fa-eye-slash' 'fa-eye'}}"></i>
              </button>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
    <div class="separator-cpt"></div>
    <section>
      <header class="relative-section">
        <div class="section-background-alternate"></div>
        <div class="flex flex-ac flex-jsb py-1">
          <h3 class="flex-col col-12 section-primary-title-cpt">{{localize 'TraitSets'}}</h3>
          <div class="flex-col">
            <button class="btn btn-primary-cpt btn-icon add-trait-set" data-actor-type="{{actorTypeIndex}}" type="button">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="separator-cpt"></div>
        <div class="relative-section pa-2">
          <div class="section-background-alternate"></div>
          <p>{{localize 'TraitSetsSettingDescription'}}</p>
        </div>
      </header>
      {{#if (listHasMore actorType.traitSets 0)}}
        <div class="separator-cpt"></div>
      {{/if}}
      <ul class="list-style-none px-0 my-0">
        {{#each actorType.traitSets as |traitSet traitSetIndex|}}
          <li class="pa-1 flex flex-ac flex-jsb relative-section">
            <div class="{{ternary (eq (mod traitSetIndex 2) 0) 'section-background' 'section-background-alternate'}}"></div>
            <div class="flex-col flex-row flex-ac">
              {{#unless traitSet._compatibility}}
                {{> "systems/cortexprime/templates/partials/reorder.html"
                  class="flex-col pa-0"
                  path=(concat ../actorTypeIndex '.traitSets')
                  currentIndex=traitSetIndex
                  setting="actorTypes"
                }}
              {{/unless}}
              <span class="section-secondary-title-cpt flex-col">{{or traitSet.label (concat '[' (localize 'NoName' ) ']')}}</span>
            </div>
            <div class="flex-col flex-row flex-ac">
              {{#unless traitSet._compatibility}}
                <div class="flex-col px-0">
                  {{> "systems/cortexprime/templates/partials/remove-button.html"
                    group=(concat ../actorTypeIndex '.traitSets')
                    itemKey=traitSetIndex
                    itemName=traitSet.label
                    setting="actorTypes"
                    stayOnPage=true
                    type="trash"
                  }}
                </div>
                <div class="flex-col px-0">
                  <button class="btn btn-icon btn-icon-plain-cpt duplicate-item" data-path="{{concat ../actorTypeIndex '.traitSets'}}" data-id="{{traitSet.id}}" type="button"><i class="fa fa-clone"></i></button>
                </div>
                <div class="flex-col px-0">
                  <button class="view-change btn btn-icon btn-icon-plain-cpt" data-name="{{traitSet.label}}" data-to="traitSet-{{../actorTypeIndex}}-{{traitSetIndex}}" type="button"><i class="fa fa-edit ma-0"></i></button>
                </div>
              {{/unless}}
            </div>
          </li>
          {{#if traitSet._compatibility}}
            {{#each traitSet.traits as |trait traitIndex|}}
              <li class="pa-1 pl-4 flex flex-ac flex-jsb relative-section">
                <div class="section-background-alternate"></div>
                <span class="section-secondary-title-cpt flex-col">{{or trait.name (concat '[' (localize 'NoName') ']')}}</span>
                <button class="view-change btn btn-icon btn-icon-plain-cpt" data-name="{{trait.name}}" data-to="trait-{{actorTypeIndex}}-{{traitSetIndex}}-{{traitIndex}}" type="button" title="{{trait.name}}">
                  <i class="fa fa-edit ma-0"></i>
                </button>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
    </section>
    {{#if (listHasMore actorType.traitSets 0)}}
      <div class="separator-cpt"></div>
    {{/if}}
  </div>
</article>
