<section class="section-cpt mb-4">
  <div class="section-image"></div>
  <div class="section-content">
    <div class="relative-section pa-2">
      <div class="section-background"></div>
      <p class="my-1"><b class="descriptor-label-cpt">{{localize 'ActorType'}}</b> {{actorType.name}}</p>
      {{#if actorType.showProfileImage}}
        <img class="profile-image bkg-light-grey" src="{{actor.img}}" data-action="editProfileImage" title="{{actor.name}}" />
      {{/if}}
      <div class="input-label-cpt mt-2">{{localize 'Name'}}</div>
      <div class="mb-4">
        {{#if owner}}
          <input class="input-cpt" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" />
        {{else}}
          <p>{{actor.name}}</p>
        {{/if}}
      </div>
    </div>
  </div>
</section>
