<div>
  {{#each traits as |trait traitIndex|}}
    {{#if (or ../owner (or (not ../data.hasHidableTraits) (not trait.hidden)))}}
      <div class="px-2 py-1 relative-section{{ternary (or ../traitSetShutdown trait.shutdown) ' shutdown' ''}}">
        <div class="{{ternary (and ../data.hasHidableTraits trait.hidden) ' section-background-alternate' 'section-background'}}"></div>
        <div class="trait-title-cpt flex-row flex-ac flex-wrap">
          {{#if (and ../owner trait._source.compatibility)}}
            <button class="btn btn-icon btn-icon-plain-cpt toggle-item" data-action="toggleItem" data-path="{{concat trait._source.formPath '.edit'}}" type="button">
              <i class="fa-solid {{ternary trait.edit 'fa-check' 'fa-edit'}}"></i>
            </button>
            {{#if ../data.hasHidableTraits}}
              {{#if trait.edit}}
                <button class="btn btn-icon btn-secondary-cpt toggle-item" data-action="toggleItem" data-path="{{concat trait._source.formPath '.hidden'}}" type="button">
                  <i class="fa {{ternary trait.hidden 'fa-eye-slash' 'fa-eye'}}"></i>
                </button>
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if (and ../editable (and (not ../custom) trait._suppressionId))}}
            <button class="btn btn-icon btn-icon-plain-cpt btn-small" data-action="suppressTrait"
              data-suppression-id="{{trait._suppressionId}}"
              data-trait-name="{{ternary (and ../settings.hasLabel trait.label) trait.label trait.name}}"
              title="{{localize 'HideTrait'}}" type="button">
              <i class="fa fa-eye-slash"></i>
            </button>
          {{/if}}
          {{#if (and (and ../data.hasHidableTraits trait.hidden) (or (not trait._source.compatibility) (not trait.edit)))}}
            <span class="flex-col pr-0">
              <i class="fa fa-eye-slash"></i>
            </span>
          {{/if}}
          {{#unless (eq trait.valueType 'resource')}}<span
            class="flex-col flex-g-1{{ternary (and (and (eq trait.valueType 'die') (or trait._source.valueTypeExplicit ../settings.hasDice)) (and (and (not ../traitSetShutdown) (not trait.shutdown)) trait.dice.value.[0])) ' add-to-pool' ''}}{{ternary trait.shutdown ' shutdown' ''}}"
            {{#if (and (and (eq trait.valueType 'die') (or trait._source.valueTypeExplicit ../settings.hasDice)) (and (and (not ../traitSetShutdown) (not trait.shutdown)) trait.dice.value.[0]))}}data-action="addToPool"{{/if}}
            data-label="{{ternary (and ../settings.hasLabel trait.label) (ternary (and trait.label trait.name) (concat trait.label ' (' trait.name ')')) trait.name}}"
            data-path="{{concat trait._source.formPath '.dice'}}" {{{ternary trait.valueSettings.consumableDice 'data-consumable="true"' '' }}}>
            {{ternary (and ../settings.hasLabel trait.label) trait.label trait.name}}
            {{#if (and trait._source.compatibility (and (eq trait.valueType 'die') (not trait.name)))}}
              <span class="fa fa-dice"></span>
            {{/if}}
          </span>{{/unless}}
          {{#if (and (eq trait.valueType 'die') (or trait._source.valueTypeExplicit ../settings.hasDice))}}
            {{#if (or (not ../owner) (or ../traitSetShutdown trait.shutdown))}}
              <div class="pl-0 flex-col flex-s-1">
                <div class="flex flex-wrap flex-ac">
                  {{#each trait._temporaryDieView.effectiveDice as |die|}}
                    {{> (concat "systems/cortexprime/templates/partials/dice/d" die ".html")
                      number=die
                      type='die-rating'
                    }}
                  {{/each}}
                </div>
              </div>
            {{else}}
              <div class="pl-0 flex-col flex-s-1">
                {{> "systems/cortexprime/templates/partials/dice/select.html"
                  addToPool=true
                  consumable=trait.valueSettings.consumableDice
                  dice=trait.dice.value
                  minDice=0
                  label=(ternary (and ../settings.hasLabel trait.label) trait.label trait.name)
                  selectName=(concat trait._source.formPath '.dice')
                }}
                {{> "systems/cortexprime/templates/partials/actor-sheet/temporary-die.html"
                  editable=../editable
                  traitPath=trait._source.formPath
                  view=trait._temporaryDieView
                }}
              </div>
            {{/if}}
            {{#if (or (not ../owner) (or ../traitSetShutdown trait.shutdown))}}
              {{> "systems/cortexprime/templates/partials/actor-sheet/temporary-die.html"
                editable=false
                traitPath=trait._source.formPath
                view=trait._temporaryDieView
              }}
            {{/if}}
          {{/if}}
        </div>
        {{#if (eq trait.valueType 'text')}}
          {{> "systems/cortexprime/templates/partials/value-types/text.html"
            data=trait
            edit=(and ../owner (or (not trait._source.compatibility) trait.edit))
            fieldPath=(concat trait._source.formPath '.text')
          }}
        {{else if (eq trait.valueType 'number')}}
          {{> "systems/cortexprime/templates/partials/value-types/number.html"
            data=trait
            edit=(and ../owner (or (not trait._source.compatibility) trait.edit))
            fieldPath=(concat trait._source.formPath '.number')
            settings=trait.valueSettings
          }}
        {{else if (eq trait.valueType 'resource')}}
          {{> "systems/cortexprime/templates/partials/value-types/resource.html"
            editable=../editable
            label=(ternary (and ../settings.hasLabel trait.label) trait.label trait.name)
            traitPath=trait._source.formPath
            view=trait._resourceView
          }}
        {{/if}}
        {{#if (and trait.name (and ../settings.hasLabel trait.label))}}
          <div class="mb-2">
            <span class="trait-sub-title-cpt">{{trait.name}}</span>
          </div>
        {{/if}}
        {{#if (and trait._source.compatibility (and ../owner (and trait.hasDescription trait.edit)))}}
          <textarea class="input-cpt my-2" name="{{concat trait._source.formPath '.description'}}">{{trait.description}}</textarea>
        {{else if (and (or (and trait._source.compatibility trait.hasDescription) (and (not trait._source.compatibility) ../settings.hasDescription)) trait.description)}}
          <div class="my-2"><p>{{trait.description}}</p></div>
        {{/if}}
        {{#if (and ../settings.hasDescriptors trait.descriptors)}}
          <div>
            {{#each trait.descriptors as |descriptor|}}
              {{#if (or descriptor.label descriptor.value)}}
                <div class="my-2">
                  <div
                    class="{{ternary (or ../traitSetShutdown trait.shutdown) 'shutdown' ''}}"
                  >
                      <p>
                        {{#if descriptor.label}}
                          <span class="descriptor-label-cpt">{{descriptor.label}}:</span>
                        {{/if}}
                        {{{descriptor.value}}}
                      </p>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
        {{#if (and ../settings.hasSubTraits trait.subTraits)}}
          <div>
            {{#each trait.subTraits as |subTrait subTraitIndex|}}
              {{#if (or subTrait.label subTrait.dice.value)}}
                <div class="my-1 flex-row flex-ac flex-wrap sub-trait-label-cpt">
                  {{#if subTrait.label}}
                    <div class="flex-col flex-g-1">
                      <span class="{{ternary (and ../../settings.subTraitsHaveDice (and (and (not ../../traitSetShutdown) (not trait.shutdown)) subTrait.dice.value.[0])) ' add-to-pool' ''}}"
                        {{#if (and ../../settings.subTraitsHaveDice (and (and (not ../../traitSetShutdown) (not trait.shutdown)) subTrait.dice.value.[0]))}}data-action="addToPool"{{/if}}
                        data-label="{{concat subTrait.label ' (' (ternary (and trait.label trait.name) trait.label trait.name) ')'}}"
                        data-path="{{concat ../../path '.' ../../target '.' traitIndex '.subTraits.' subTraitIndex '.dice'}}" {{{ternary ../../settings.subTraitsDiceConsumable 'data-consumable="true"' '' }}}>
                        {{subTrait.label}}
                      </span>
                    </div>
                  {{/if}}
                  {{#if (and ../../settings/subTraitsHaveDice (or (not ../../owner) (or ../../traitSetShutdown trait.shutdown)))}}
                  <div class="pl-0 flex-col flex-s-1">
                    <div class="flex flex-wrap flex-ac">
                      {{#each subTrait.dice.value as |die|}}
                        {{> (concat "systems/cortexprime/templates/partials/dice/d" die ".html")
                          number=die
                          type='die-rating'
                        }}
                      {{/each}}
                    </div>
                  </div>
                  {{else if ../../settings/subTraitsHaveDice}}
                    <div class="pl-0 flex-col flex-s-1">
                      {{> "systems/cortexprime/templates/partials/dice/select.html"
                        addToPool=true
                        consumable=../../settings.subTraitsDiceConsumable
                        dice=subTrait.dice.value
                        minDice=0
                        label=subTrait.label
                        selectName=(concat ../../path '.' ../../target '.' traitIndex '.subTraits.' subTraitIndex '.dice')
                      }}
                    </div>
                  {{/if}}
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
        {{#if (and ../settings.hasSfx trait.sfx)}}
          <div>
            {{#each trait.sfx as |sfx|}}
              {{#if (or sfx.label sfx.description)}}
                <div class="my-2 flex-row">
                  <div class="flex-col pr-0">
                    <i class="sfx-bullet-cpt {{ternary sfx.unlocked 'fas' 'far'}} fa-circle"></i>
                  </div>
                  <div class="flex-col col-12{{ternary (and (not sfx.unlocked) (and (not ../traitSetShutdown) (not trait.shutdown))) ' shutdown' ''}}">
                    {{#if sfx.label}}
                      <span class="mb-2 sfx-label-cpt">{{sfx.label}}</span>
                    {{/if}}
                    {{#if sfx.description}}
                      <p>{{{sfx.description}}}</p>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/each}}
</div>
