<div class="relative-section pa-2">
  <div class="section-background"></div>
  <div class="flex flex-wrap">
    <label class="flex-col col-6">
      <span class="input-label-cpt">{{localize 'Minimum'}}</span>
      <input class="input-cpt" name="{{concat settingsFieldPath '.min'}}" placeholder="0" step="any" type="number" value="{{settings.min}}">
    </label>
    <label class="flex-col col-6">
      <span class="input-label-cpt">{{localize 'Maximum'}}</span>
      <input class="input-cpt" name="{{concat settingsFieldPath '.max'}}" placeholder="{{localize 'Unlimited'}}" step="any" type="number" value="{{settings.max}}">
    </label>
    <label class="flex-col col-6">
      <span class="input-label-cpt">{{localize 'DefaultValue'}}</span>
      <input class="input-cpt" name="{{concat settingsFieldPath '.default'}}" placeholder="0" step="any" type="number" value="{{settings.default}}">
    </label>
    <label class="flex-col col-6">
      <span class="input-label-cpt">{{localize 'Step'}}</span>
      <input class="input-cpt" min="0" name="{{concat settingsFieldPath '.step'}}" placeholder="1" step="any" type="number" value="{{settings.step}}">
    </label>
    <label class="flex-col col-6">
      <span class="input-label-cpt">{{localize 'ImagePresentation'}}</span>
      <select class="input-cpt resource-image-display-select" name="{{concat settingsFieldPath '.imageDisplay'}}">
        <option value="none" {{#if (or (not settings.imageDisplay) (eq settings.imageDisplay 'none'))}}selected{{/if}}>{{localize 'None'}}</option>
        <option value="icon" {{#if (eq settings.imageDisplay 'icon')}}selected{{/if}}>{{localize 'Icon'}}</option>
        <option value="consume" {{#if (eq settings.imageDisplay 'consume')}}selected{{/if}}>{{localize 'Consume'}}</option>
      </select>
    </label>
    <div class="flex-col col-6">
      <span class="input-label-cpt">{{localize 'Image'}}</span>
      <div class="flex flex-ac">
        <input class="input-cpt flex-g-1" name="{{concat settingsFieldPath '.image'}}" type="text" value="{{settings.image}}">
        <button class="btn btn-icon btn-primary-cpt resource-image-picker" data-action="resourceImagePicker" data-current="{{settings.image}}" data-path="{{or imagePath (concat settingsFieldPath '.image')}}" title="{{localize 'SelectImage'}}" type="button">
          <i class="fa fa-image"></i>
        </button>
      </div>
    </div>
  </div>
</div>
